**/.classpath
**/.project
**/.settings/**
**/target/**
target/**
.project
.settings/**
.classpath
target
project/*
logs
/.target
/smartadmin-angular-js-full/
**/build/
**/node_modules/
/smart-admin/
/static/build/
