<div id="content">


<div class="row">
    <big-breadcrumbs items="['Teacher Profile']" icon="graduation-cap"
                     class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
</div>
<!-- end row -->
<!-- row -->
<div class="row">
<div class="col-sm-12">
<div class="well well-sm">
<div class="row">
<div class="col-sm-12 col-md-12 col-lg-6">
<div class="well well-light well-sm no-margin no-padding">
<div class="row">
    <div class="col-sm-12">
        
    </div>
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-2">
                <img src="styles/img/teachers/myka.jpg" alt="demo user" height="65px" width="65px" style="margin: 10px">
            </div>
            <div class="col-sm-10">
                <h1>Myka <span class="semi-bold">Gonzaga</span>
                    <br>
                    <small>Quezon City, Philippines</small>
                </h1>
                <ul class="list-unstyled">
                    
                    <li>
                        <p class="text-muted">
                            <i class="fa fa-envelope"></i>&#xA0;&#xA0;<a href="mailto:simmons@smartadmin">myka_gonzaga@gmail.com</a>
                        </p>
                    </li><li>
                        <p class="">
                            <i class="fa fa-phone text-muted"></i>&#xA0;&#xA0;0977 677 0653
                        </p>
                    </li>
                    <li>
                        <p class="text-muted">
                            <i class="fa fa-calendar"></i>&#xA0;&#xA0;<span class="txt-color-darken">Next class on September 10 at <a
                                href-void rel="tooltip" title data-placement="top"
                                data-original-title="Create an Appointment">2:30 PM</a></span>
                        </p>
                    </li>
                    
                    <li>
                    	<p><i class="fa fa-female text-muted"></i>&#xA0;&#xA0;Female</p>
                    <li>
                    
                    <li><p><i class="fa fa-home text-muted"></i>&#xA0;&#xA0;<span class="text-muted">In case of emergency, contact</span><br/>Jim Gonzaga, 0905 762 18 99</p></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <hr>
        <div class="padding-10">
        	<div class="">
                <ul class="nav nav-tabs" id="demo-pill-nav">
                    <li class="active">
                        <a href="#tab-r1" data-toggle="tab">Open Classes</a>
                    </li>
                    <li>
                        <a href="#tab-r2" data-toggle="tab">G-Force Projects</a>
                    </li>
                    <li>
                        <a href="#tab-r3" data-toggle="tab">Training</a>
                    </li>
                    <li>
                        <a href="#tab-r4" data-toggle="tab">Private Classes</a>
                    </li>
                </ul>
                <div class="tab-content padding-10">
                    <div class="tab-pane active" id="tab-r1">
                    	<ul class="media-list">
					        <li class="media">
					            <a class="pull-left" data-ui-sref="app.class.info" title="Class Info"> <img class="media-object" alt="64x64" src="styles/img/demo/64x64.png"> </a>
					            <div class="media-body">
					                <h5 class="media-heading class-name"><a data-ui-sref="app.class.info" title="Class Info">K-pop with Myka</a></h5>
					                <p>
					                    March 16, Monday<br/>
					                    6:30 - 7:30 PM
					                </p>
					            </div>
					        </li>
					        <li class="media">
					            <a class="pull-left" data-ui-sref="app.class.info" title="Class Info"> <img class="media-object" alt="64x64" src="styles/img/demo/64x64.png"> </a>
					            <div class="media-body">
					                <h5 class="media-heading class-name"><a data-ui-sref="app.class.info" title="Class Info">Zumba with Myka</a></h5>
					                <p>
					                    March 17, Tuesday<br/>
					                    7:30 - 8:30 PM
					                </p>
					            </div>
					        </li>
					    </ul>
                    </div>
                    <div class="tab-pane" id="tab-r2">
                        <ul class="media-list">
					        <li class="media">
					            <a class="pull-left" data-ui-sref="app.class.info" title="Class Info"> <img class="media-object" alt="64x64" src="styles/img/demo/64x64.png"> </a>
					            <div class="media-body">
					                <h5 class="media-heading class-name"><a data-ui-sref="app.class.info" title="Class Info">Summer Dance Glamping Manila</a></h5>
					                <p>
					                	Batch 1: April 13 - 17, 2015<br/>
										Batch 2: May 4 - 8, 2015<br/>
										Regional<br/>
										Cebu: April 20 - 17, 2015<br/>
										Albay: April 27 - May 1, 2015<br/>
										Bacolod: May 11 - 15 , 2015<br/>
					                	Recital<br/>
					                    May 26, 2015 Tuesday at SM Mall of Asia Arena<br/>
					                    6:30 - 7:30 PM
					                </p>
					            </div>
					        </li>
					    </ul>
                    </div>
                    <div class="tab-pane" id="tab-r3">
		                <p>
		                    Currently not supervising any trainings
		                </p>
                    </div>
                    <div class="tab-pane" id="tab-r4">
                    	<ul class="media-list">
					        <li class="media">
					            <a class="pull-left" data-ui-sref="app.class.info" title="Class Info"> <img class="media-object" alt="64x64" src="styles/img/demo/64x64.png"> </a>
					            <div class="media-body">
					                <h5 class="media-heading class-name"><a data-ui-sref="app.class.info" title="Class Info">Sexy Hip-Hop with Myka</a></h5>
					                <p>
					                    Aug 24, Tuesday<br/>
					                    9:30 AM - 10:30 AM
					                </p>
					            </div>
					        </li>
					        <li class="media">
					            <a class="pull-left" data-ui-sref="app.class.info" title="Class Info"> <img class="media-object" alt="64x64" src="styles/img/demo/64x64.png"> </a>
					            <div class="media-body">
					                <h5 class="media-heading class-name"><a data-ui-sref="app.class.info" title="Class Info">Lyrical Hip-Hop with Myka</a></h5>
					                <p>
					                    March 21, Monday<br/>
					                    4:30 - 5:30 PM
					                </p>
					            </div>
					        </li>
					    </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end row -->
</div>
</div>
<div class="col-sm-12 col-md-12 col-lg-6">
   <h1>Payment
   
   </h1>
   <table class="table table-striped table-forum">
   	<thead></thead>
   	<tbody id="payment-table" class="smart-form ng-pristine ng-valid">
   		<tr>
   			<td>March 14, 2015</td>
   			<td>Class <a>K-pop</a></td>
   			<td class="text-danger">7,000  Php</td>
   			<td>
   				<label class="checkbox unpaid">
                <input type="checkbox" name="checkbox">
                <i></i><span class="payment-status">Unpaid</span></label>
            </td>
   		</tr>
   		<tr>
   			<td>August 11, 2016</td>
   			<td>Class <a>Zumba</a></td>
   			<td class="text-danger">500  Php</td>
   			<td>
   				<label class="checkbox paid">
                <input type="checkbox" name="checkbox" checked="checked">
                <i></i><span class="payment-status">Paid</span></label>
            </td>
   		</tr>
   		<tr>
   			<td>August 12, 2016</td>
   			<td>Class <a>Sexy Hip-Hop</a></td>
   			<td class="text-danger">500  Php</td>
   			<td>
   				<label class="checkbox paid">
                <input type="checkbox" name="checkbox" checked="checked">
                <i></i><span class="payment-status">Paid</span></label>
            </td>
   		</tr>
   		<tr>
   			<td>August 15, 2016</td>
   			<td>Class <a>Lyrical Hip-Hop</a></td>
   			<td class="text-danger">350  Php</td>
   			<td>
   				<label class="checkbox unpaid">
                <input type="checkbox" name="checkbox">
                <i></i><span class="payment-status">Unpaid</span></label>
            </td>
   		</tr>
   	</tbody>
   
   </table>
   
   <div class="well">
   	Balance:
   	<span class="pull-right"><strong class="">7,350 Php</strong></span>
   </div>
</div>
</div>
</div>
</div>
</div>
<!-- end row -->
</div>

<script type="text/javascript">

$(document).ready(function() {
	
}).on('click', '.checkbox i', function() {
	var status = $(this).siblings('.payment-status');
	var statusStyle = $(this).parent();
	if(status.text() == 'Paid') {
		status.text('Unpaid'); 
		statusStyle.removeClass('paid').addClass('unpaid'); 
	} else {
		status.text('Paid'); 
		statusStyle.removeClass('unpaid').addClass('paid');
	}
});

</script>