<div id="content">
<div class="row">
    <big-breadcrumbs items="['Teachers']" icon="graduation-cap" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
</div>

	<section id="widget-grid" widget-grid>
	
		<div class="row">
	
			<article class="col-sm-3 col-md-3 col-lg-3">
	
				<div jarvis-widget id="teacher-search" data-widget-deletebutton="false">
					<header>
						<h2>Search</h2>
					</header>
					
					<div>
						<div class="widget-body no-padding">
							<form class="smart-form">
								
								<fieldset>
									
								    <section>
								        <label class="label">Name</label>
								        <label class="input">
								            <input type="text">
								        </label>
								    </section>
								    <section>
								        <label class="label">Balance</label>
								        <label class="select">
								            <select>
								            	<option></option>
								            	<option>Teachers with unpaid fees only</option>
								            </select>
								        </label>
								    </section>
							    </fieldset>
					
								<footer>
					                <button type="button" class="btn btn-default">
					                    Search
					                </button>
					            </footer>
							</form>
						</div>
					</div>
				</div>
				
			</article>
			
			<article class="col-sm-9 col-md-9 col-lg-9">
	
				<div jarvis-widget id="teacher-entries" data-widget-deletebutton="false">
					<header>
						<h2>Entries</h2>
					</header>
					
					<div>
						<div class="widget-body no-padding">
						
							<div class="clearfix">
								<p class="pull-left" style="margin: 15px 10px;">
									<small><i>Showing 10 of 43 entries</i></small>
								</p>
								
								<a class="btn btn-success pull-right"
									style="margin: 10px;"
									data-toggle="modal" data-target="#myModal">Add Teacher</a>
							</div>
								
							<div class="table-responsive">

			                    <table class="table table-bordered">
			                        <thead>
			                        <tr>
			                        	<th>Photo</th>
			                            <th>Name</th>
			                            <th>Contact Number</th>
			                            <th>Payment Due</th>
			                            <th width="50"></th>
			                        </tr>
			                        </thead>
			                        <tbody>
			                        <tr>
			                        	<td><a data-ui-sref="app.teacher.profile" title="Profile"><img class="teacher-pic" src="styles/img/teachers/myka.jpg"/></a></td>
			                            <td><a data-ui-sref="app.teacher.profile" title="Profile">Myka Gonzaga</a></td>
			                            <td>0975 830 2023</td>
			                            <td>0 Php</td>
			                            <td>
			                            	<i class="fa fa-edit"></i>
			                            	<i class="fa fa-trash-o"></i>
			                            </td>
			                        </tr>
			                        <tr>
			                        	<td><a data-ui-sref="app.teacher.profile" title="Profile"><img class="teacher-pic" src="styles/img/teachers/ishii.jpg"/></a></td>
			                            <td><a data-ui-sref="app.teacher.profile" title="Profile">Junichi Ishii</a></td>
			                            <td>0977 677 0653</td>
			                            <td>0 Php</td>
			                            <td>
			                            	<i class="fa fa-edit"></i>
			                            	<i class="fa fa-trash-o"></i>
			                            </td>
			                        </tr>
			                        <tr>
			                        	<td><a data-ui-sref="app.teacher.profile" title="Profile"><img class="teacher-pic" src="styles/img/teachers/royce.jpg"/></a></td>
			                            <td><a data-ui-sref="app.teacher.profile" title="Profile">Royce Chua</a></td>
			                            <td>0976 823 9910</td>
			                            <td>0 Php</td>
			                            <td>
			                            	<i class="fa fa-edit"></i>
			                            	<i class="fa fa-trash-o"></i>
			                            </td>
			                        </tr>
			                        <tr>
			                        	<td><a data-ui-sref="app.teacher.profile" title="Profile"><img class="teacher-pic" src="styles/img/teachers/jorge.jpg"/></a></td>
			                            <td><a data-ui-sref="app.teacher.profile" title="Profile">Jorge Jahnke</a></td>
			                            <td>0922 837 12 92</td>
			                            <td>0 Php</td>
			                            <td>
			                            	<i class="fa fa-edit"></i>
			                            	<i class="fa fa-trash-o"></i>
			                            </td>
			                        </tr>
			                        <tr>
			                        	<td><a data-ui-sref="app.teacher.profile" title="Profile"><img class="teacher-pic" src="styles/img/teachers/gelai.jpg"/></a></td>
			                            <td><a data-ui-sref="app.teacher.profile" title="Profile">Gelai Aguzar</a></td>
			                            <td>0975 830 2023</td>
			                            <td>0 Php</td>
			                            <td>
			                            	<i class="fa fa-edit"></i>
			                            	<i class="fa fa-trash-o"></i>
			                            </td>
			                        </tr>
			                        <tr>
			                        	<td><a data-ui-sref="app.teacher.profile" title="Profile"><img class="teacher-pic" src="styles/img/teachers/chrissian.jpg"/></a></td>
			                            <td><a data-ui-sref="app.teacher.profile" title="Profile">Chrissian Yu</a></td>
			                            <td>0977 677 0653</td>
			                            <td>0 Php</td>
			                            <td>
			                            	<i class="fa fa-edit"></i>
			                            	<i class="fa fa-trash-o"></i>
			                            </td>
			                        </tr>
			                        <tr>
			                        	<td><a data-ui-sref="app.teacher.profile" title="Profile"><img class="teacher-pic" src="styles/img/teachers/julia.jpg"/></a></td>
			                            <td><a data-ui-sref="app.teacher.profile" title="Profile">Julia Villaruel</a></td>
			                            <td>0976 823 9910</td>
			                            <td>0 Php</td>
			                            <td>
			                            	<i class="fa fa-edit"></i>
			                            	<i class="fa fa-trash-o"></i>
			                            </td>
			                        </tr>
			                        <tr>
			                        	<td><a data-ui-sref="app.teacher.profile" title="Profile"><img class="teacher-pic" src="styles/img/teachers/jb.jpg"/></a></td>
			                            <td><a data-ui-sref="app.teacher.profile" title="Profile">JB Pappas</a></td>
			                            <td>0922 837 12 92</td>
			                            <td>0 Php</td>
			                            <td>
			                            	<i class="fa fa-edit"></i>
			                            	<i class="fa fa-trash-o"></i>
			                            </td>
			                        </tr>
			                        
			                        <tr>
			                        	<td><a data-ui-sref="app.teacher.profile" title="Profile"><img class="teacher-pic" src="styles/img/teachers/michael.jpg"/></a></td>
			                            <td><a data-ui-sref="app.teacher.profile" title="Profile">Michael Jahnke</a></td>
			                            <td>0975 830 2023</td>
			                            <td>0 Php</td>
			                            <td>
			                            	<i class="fa fa-edit"></i>
			                            	<i class="fa fa-trash-o"></i>
			                            </td>
			                        </tr>
			                        <tr>
			                        	<td><a data-ui-sref="app.teacher.profile" title="Profile"><img class="teacher-pic" src="styles/img/teachers/jp.jpg"/></a></td>
			                            <td><a data-ui-sref="app.teacher.profile" title="Profile">Jp Enriquez</a></td>
			                            <td>0977 677 0653</td>
			                            <td>0 Php</td>
			                            <td>
			                            	<i class="fa fa-edit"></i>
			                            	<i class="fa fa-trash-o"></i>
			                            </td>
			                        </tr>
			                        <tr>
			                        </tbody>
			                    </table>

               				 </div>
			                    
			                    
		                    <div class="text-center">
						        <ul class="pagination pagination-sm">
						            <li>
						                <a href-void="" href="#"><i class="fa fa-angle-left"></i></a>
						            </li>
						            <li class="active">
						                <a href-void="" href="#">1</a>
						            </li>
						            <li>
						                <a href-void="" href="#">2</a>
						            </li>
						            <li>
						                <a href-void="" href="#">3</a>
						            </li>
						            <li>
						                <a href-void="" href="#">4</a>
						            </li>
						            <li>
						                <a href-void="" href="#">5</a>
						            </li>
						            <li>
						                <a href-void="" href="#"><i class="fa fa-angle-right"></i></a>
						            </li>
						        </ul>
						    </div>
						</div>
					</div>
				</div>
				
			</article>
			
		</div>
	
	</section>
	
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">Add Teacher</h4>
            </div>
            <form class="smart-form">
            <div class="modal-body ">
				
               	
               	<section>
               		<fieldset>
               			
					    <div class="row">
	               			<section class="col col-2">
			                	<img src="styles/img/avatars/male.png" class="img-responsive" width="100%" />
			               	</section>
	               			<section class="col col-10">
						        <label class="label">Primary Photo</label>
						        <div class="input input-file">
						            <span class="button">
						            <input type="file" id="file" name="file"
						                onchange="this.parentNode.nextSibling.value = this.value">Browse</span><input
						                type="text" readonly="">
						        </div>
						    </section>
						</div>
					    <div class="row">
					    	<section class="col col-4">
						        <label class="label">Last Name</label>
						        <label class="input">
						            <input type="text">
						        </label>
						    </section>
					    	<section class="col col-4">
						        <label class="label">First Name</label>
						        <label class="input">
						            <input type="text">
						        </label>
						    </section>
					    	<section class="col col-4">
						        <label class="label">Middle Name</label>
						        <label class="input">
						            <input type="text">
						        </label>
						    </section>
						</div>
					    <div class="row">
					    	
					    	<section class="col col-4">
						        <label class="label">Email</label>
						        <label class="input">
						            <input type="text">
						        </label>
						    </section>
						    <section class="col col-4">
						        <label class="label">Birthdate</label>
						        <label class="input">
						        	 <input ng-model="birthdate" type="text" data-smart-datepicker data-dateformat='dd/mm/yy' >
						        </label>
						    </section>
						    <section class="col col-4">
						        <label class="label">Gender</label>
						        <label class="radio">
			                    <input type="radio" name="radio" checked="checked">
			                    <i></i>Male</label>
						        <label class="radio">
			                    <input type="radio" name="radio" checked="checked">
			                    <i></i>Female</label>
						    </section>
						    
						</div> 
					    
					    <div class="row">
						    <section class="col col-4">
						        <label class="label">Country</label>
						        <label class="select">
						            <select>
						            	<option>Philippines</option>
						            </select>
						        </label>
						    </section>
						    <section class="col col-4">
						        <label class="label">City</label>
						        <label class="select">
						            <select>
						            	<option>Pasig</option>
						            	<option>Paranaque</option>
						            	<option>Quezon City</option>
						            </select>
						        </label>
						    </section>
						    <section class="col col-4">
						        <label class="label">Mobile Number</label>
						        <label class="input">
						            <input type="text">
						        </label>
						    </section>
					    </div>
					    
				    </fieldset>
				    
               	</section>
            </div>
            </form>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
                <button type="button" class="btn btn-primary">
                    Add User
                </button>
            </div>
        </div>
    </div>
</div>