<aside id="left-panel">

    <!-- User info -->
    <!-- <div login-info></div> -->
    <!-- end user info -->

    <nav>
        <!-- NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

        <ul data-smart-menu>

            <li data-ui-sref-active="active" >
                <a data-ui-sref="app.student.list" title="Students">
                    <i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent">{{getWord('Students')}}</span></a>
            </li>
             <li data-ui-sref-active="active" >
                <a data-ui-sref="app.class.list" title="Classes">
                    <i class="fa fa-lg fa-fw fa-book"></i> <span class="menu-item-parent">{{getWord('Classes')}}</span></a>
            </li>
             <li>
                <a title="Classes">
                    <i class="fa fa-lg fa-fw fa-group"></i> <span class="menu-item-parent">{{getWord('G-Force Projects')}}</span></a>
            </li>
             <li>
                <a title="Teachers">
                    <i class="fa fa-lg fa-fw fa-graduation-cap"></i> <span class="menu-item-parent">{{getWord('Teachers')}}</span></a>
            </li>
            <!-- <li ng-class="{active: 
						('app.systemSettings' | includedByState) || 
						('app.signInMethods' | includedByState) || 
						('app.emailTemplates' | includedByState) }" data-menu-collapse>
                <a href="#" title="Developer Console">
                    <i class="fa fa-lg fa-fw fa-code"></i> <span class="menu-item-parent">{{getWord('Developer Console')}}</span></a>
                <ul>
                	
                    <li ng-class="{active: 
						('app.systemSettings' | includedByState) || 
						('app.signInMethods' | includedByState) || 
						('app.emailTemplates' | includedByState) }">
                        <a data-ui-sref="app.systemSettings">{{getWord('Config')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a >{{getWord('Organization')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a >{{getWord('CRUD Builder')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a >{{getWord('Workflows')}}</a>
                    </li>
                </ul>
            </li> -->

        </ul>

        <!-- NOTE: This allows you to pull menu items from server -->
        <!-- <ul data-smart-menu-items="/api/menu-items.json"></ul> -->
    </nav>

  <span class="minifyme" data-action="minifyMenu" minify-menu>
    <i class="fa fa-arrow-circle-left hit"></i>
  </span>

</aside>