<div id="content">


<div class="row">
    <big-breadcrumbs items="['Student Profile']" icon="user"
                     class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
</div>
<!-- end row -->
<!-- row -->
<div class="row">
<div class="col-sm-12">
<div class="well well-sm">
<div class="row">
<div class="col-sm-12 col-md-12 col-lg-6">
<div class="well well-light well-sm no-margin no-padding">
<div class="row">
    <div class="col-sm-12">
        
    </div>
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-2">
                <img src="styles/img/avatars/1.png" alt="demo user" width="100%" style="margin: 10px">
            </div>
            <div class="col-sm-10">
                <h1>Sophie <span class="semi-bold">Connor</span>
                    <br>
                    <small>Quezon City, Philippines</small>
                </h1>
                <ul class="list-unstyled">
                    
                    <li>
                        <p class="text-muted">
                            <i class="fa fa-envelope"></i>&#xA0;&#xA0;<a href="mailto:simmons@smartadmin">sophie@ideyatech.com</a>
                        </p>
                    </li><li>
                        <p class="">
                            <i class="fa fa-phone text-muted"></i>&#xA0;&#xA0;0977 677 0653
                        </p>
                    </li>
                    <li>
                        <p class="text-muted">
                            <i class="fa fa-calendar"></i>&#xA0;&#xA0;<span class="txt-color-darken">Next class at <a
                                href-void rel="tooltip" title data-placement="top"
                                data-original-title="Create an Appointment">4:30 PM</a></span>
                        </p>
                    </li>
                    
                    <li>
                    	<p><i class="fa fa-female text-muted"></i>&#xA0;&#xA0;Female</p>
                    <li>
                    
                    <li><p><i class="fa fa-home text-muted"></i>&#xA0;&#xA0;<span class="text-muted">In case of emergency, contact</span><br/>Stephanie Connor, 0905 762 18 99</p></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <hr>
        <div class="padding-10">
        	<div class="">
                <ul class="nav nav-tabs" id="demo-pill-nav">
                    <li class="active">
                        <a href="#tab-r1" data-toggle="tab">Open Classes</a>
                    </li>
                    <li>
                        <a href="#tab-r2" data-toggle="tab">G-Force Projects</a>
                    </li>
                    <li>
                        <a href="#tab-r3" data-toggle="tab">History</a>
                    </li>
                </ul>
                <div class="tab-content padding-10">
                    <div class="tab-pane active" id="tab-r1">
                    	<p class="text-right">
                    		<button class="btn btn-success"  data-toggle="modal" data-target="#myModal2">Book to an Open Class</button>
                    	</p>
                    	<ul class="media-list">
					        <li class="media">
					            <a class="pull-left" href-void="" href="#"> <img class="media-object" alt="64x64" src="styles/img/demo/64x64.png"> </a>
					            <div class="media-body">
					                <h5 class="media-heading">Sexy Hip-Hop with Ritz</h5>
					                <p>
					                    Aug 24, Tuesday<br/>
					                    9:30 AM - 10:30 AM
					                </p>
					            </div>
					        </li>
					        <li class="media">
					            <a class="pull-left" href-void="" href="#"> <img class="media-object" alt="64x64" src="styles/img/demo/64x64.png"> </a>
					            <div class="media-body">
					                <h5 class="media-heading">Sexy Hip-Hop with Ritz</h5>
					                <p>
					                    Aug 25, Wednesday<br/>
					                    9:30 AM - 10:30 AM
					                </p>
					            </div>
					        </li>
					    </ul>
                    </div>
                    <div class="tab-pane" id="tab-r2">
                    	<p class="text-right">
                    		<button class="btn btn-success" data-toggle="modal" data-target="#myModal2">Book to a G-Force Project</button>
                    	</p>
                        <p>
	                    	Currently not enrolled in any G-Force projects
                        </p>
                    </div>
                    <div class="tab-pane" id="tab-r3">
                        <table class="table table-striped">
                        	<thead>
                        	</thead>
                        	<tbody>
                        		<tr>
		                            <td class="text-muted">Aug 11, 2016 10:53 AM</td><td>Attended class <a>Zumba with Grace</a></td>
		                        </tr>
		                        <tr>
		                            <td class="text-muted">Aug 11, 2016 11:23 AM</td><td>Ended class <a>Zumba with Grace</a></td>
		                        </tr>
		                        <tr>
		                            <td class="text-muted">Aug 12, 2016 2:23 PM</td><td>Attended class <a>Zumba with Grace</a></td>
		                        </tr>
		                        <tr>
		                            <td class="text-muted">Aug 12, 2016 3:34 PM</td><td>Ended class <a>Zumba with Grace</a></td>
		                        </tr>
		                        <tr>
		                            <td class="text-muted">Aug 13, 2016 10:53 AM</td><td>Attended class <a>Sexy Hip-Hop with Ritz</a></td>
		                        </tr>
		                        <tr>
		                            <td class="text-muted">Aug 13, 2016 11:33 AM</td><td>Ended class <a>Sexy Hip-Hop with Ritz</a></td>
		                        </tr>
		                        <tr>
		                            <td class="text-muted">Aug 14, 2016 11:53 AM</td><td>Attended class <a>Zumba with Grace</a></td>
		                        </tr>
		                        <tr>
		                            <td class="text-muted">Aug 14, 2016 12:23 AM</td><td>Ended class <a>Zumba with Grace</a></td>
		                        </tr>
		                        <tr>
		                            <td class="text-muted">Aug 15, 2016 10:12 AM</td><td>Attended class <a>Zumba with Grace</a></td>
		                        </tr>
		                        <tr>
		                            <td class="text-muted">Aug 15, 2016 11:33 AM</td><td>Ended class <a>Zumba with Grace</a></td>
		                        </tr>
                        	</tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end row -->
</div>
</div>
<div class="col-sm-12 col-md-12 col-lg-6">
   <h1>Payment
   
   	<button class="btn btn-success pull-right"
   		data-toggle="modal" data-target="#myModal">Add Payment</button>
   </h1>
   <table class="table table-striped table-forum">
   	<thead></thead>
   	<tbody>
   	
   		<tr>
   			<td>March 14, 2015 11:13 AM</td>
   			<td>Enrolled class <a>Zumba (12 sessions)</a></td>
   			<td class="text-danger">7,000  Php</td>
   			<td></td>
   		</tr>
   		<tr>
   			<td>March 14, 2015 11:13 AM</td>
   			<td>Cash Payment</td>
   			<td></td>
   			<td class="success">7,000  Php</td>
   		</tr>
   		<tr>
   			<td>August 11, 2016 3:12 PM</td>
   			<td>Enrolled class <a>Lyrical Hip-Hop</a></td>
   			<td class="text-danger">500  Php</td>
   			<td></td>
   		</tr>
   		<tr>
   			<td>August 11, 2016 3:12 PM</td>
   			<td>Cash Payment</td>
   			<td></td>
   			<td class="success">500  Php</td>
   		</tr>
   		<tr>
   			<td>August 12, 2016 6:34 PM</td>
   			<td>Enrolled class <a>Lyrical Hip-Hop</a></td>
   			<td class="text-danger">- 500  Php</td>
   			<td></td>
   		</tr>
   		<tr>
   			<td>August 12, 2016 6:34 PM</td>
   			<td>Cash Payment</td>
   			<td></td>
   			<td class="success">+ 500  Php</td>
   		</tr>
   		<tr>
   			<td>August 15, 2016 1:22 PM</td>
   			<td>Enrolled class <a>Lyrical Hip-Hop</a></td>
   			<td class="text-danger">- 350  Php</td>
   			<td></td>
   		</tr>
   		<tr>
   			<td>August 15, 2016 1:22 PM</td>
   			<td>Cash Payment</td>
   			<td></td>
   			<td class="success">+ 350  Php</td>
   		</tr>
   	</tbody>
   
   </table>
   
   <div class="well">
   	Balance:
   	<span class="pull-right"><strong class="">0 Php</strong></span>
   </div>
</div>
</div>
</div>
</div>
</div>
<!-- end row -->
</div>








<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">Book to an Open Class</h4>
            </div>
            <form class="smart-form">
            <div class="modal-body ">
              	<fieldset>
              		<section>
				        <label class="label">Mode of Payment</label>
				        <label class="select">
				            <select ng-model="modeOfPayment">
				            	<option value="0" selected="selected">Cash</option>
				            	<option value="1">Cheque</option>
				            	<option value="2">Credit Card</option>
				            	<option value="3">Bank Deposit</option>
				            </select>
				        </label>
				    </section>
			    </fieldset>
            </div>
            </form>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
                <button type="button" class="btn btn-primary">
                    Book Sophie to this Open Class
                </button>
            </div>
        </div>
    </div>
</div>






<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">Add Payment</h4>
            </div>
            <form class="smart-form">
            <div class="modal-body ">
              	<fieldset>
              		<section>
				        <label class="label">Mode of Payment</label>
				        <label class="select">
				            <select ng-model="modeOfPayment">
				            	<option value="0" selected="selected">Cash</option>
				            	<option value="1">Cheque</option>
				            	<option value="2">Credit Card</option>
				            	<option value="3">Bank Deposit</option>
				            </select>
				        </label>
				    </section>
             		<section>
				        <label class="label">Amount (in Php)</label>
				        <label class="input">
				            <input type="number">
				        </label>
				    </section>
				    
				    <section ng-show="modeOfPayment == 1">
				        <label class="label">Bank Name</label>
				        <label class="input">
				            <input type="text">
				        </label>
				    </section>
				    <section ng-show="modeOfPayment == 1">
				        <label class="label">Cheque Number</label>
				        <label class="input">
				            <input type="text">
				        </label>
				    </section>
				    
				    
				    <section ng-show="modeOfPayment == 2">
				        <label class="label">Cardholder Name</label>
				        <label class="input">
				            <input type="text">
				        </label>
				    </section>
				    <section ng-show="modeOfPayment == 2">
				        <label class="label">Credit Card Number (last 4 digits)</label>
				        <label class="">
				            XXXX - XXXX - XXXX - <input type="text">
				        </label>
				    </section>
				    
             		<section>
				        <label class="label">Remarks</label>
				        <label class="textarea">
				            <textarea width="100%"></textarea>
				        </label>
				    </section>
			    </fieldset>
            </div>
            </form>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
                <button type="button" class="btn btn-primary">
                    Add Payment
                </button>
            </div>
        </div>
    </div>
</div>