<!-- MODAL -->
<div class="modal fade" id="bookGroup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">Book a Group</h4>
            </div>
            <form class="smart-form">
            <div class="modal-body ">
              	<fieldset>
              		<section>
				        <label class="label">Names</label>
				        <label class="input">
				       		<input type="text"/>
				        </label>
				    </section>
			    </fieldset>
            </div>
            </form>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
                <button type="button" class="btn btn-primary">
                    Book
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="bookStudent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">Book a Student</h4>
            </div>
            <form class="smart-form">
            <div class="modal-body ">
              	<fieldset>
              		<section>
				        <label class="label">Name</label>
				        <label class="input">
				       		<input type="text"/>
				        </label>
				    </section>
			    </fieldset>
            </div>
            </form>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
                <button type="button" class="btn btn-primary">
                    Book this Student
                </button>
            </div>
        </div>
    </div>
</div>
<!-- END OF MODAL -->


<div id="content">


<div class="row">
    <big-breadcrumbs items="['Class Information']" icon="book"
                     class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
</div>
<!-- end row -->
<!-- row -->
<div class="row">
<div class="col-sm-12">
<div class="well well-sm">
<div class="row">
<div class="col-sm-12 col-md-12 col-lg-6">
<div class="well well-light well-sm no-margin no-padding">
<div class="row">
    <div class="col-sm-12">
        
    </div>
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-2">
                <img src="styles/img/class-kids.jpg" alt="demo user" width="100%" style="margin: 10px">
            </div>
            <div class="col-sm-10">
                <h1>Kids Class with Myka</span>
                    <br>
                    <small>Php 350</small>
                </h1>
                <ul class="list-unstyled">
                    
                    <li>
                        <p style="padding-right: 20px;">
                            <span class="text-muted">Description</span><br/>
                            To all parents with energetic kids from 5 to 11 years old, this class will definitely help you tap into your kids' creative sides with the help of Teacher Myka!
							Enroll now in Kids Class with Myka -Batch 1 here at G-Force Project 2016 Sembreak
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="text-muted">Teacher</span>&#xA0;&#xA0;<a>Myka</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="text-muted">Date</span>&#xA0;&#xA0;Aug 23, 2016 (Tuesday)
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="text-muted">Time</span>&#xA0;&#xA0;10:00 AM - 11:00 AM
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="text-muted">Venue</span>&#xA0;&#xA0;G-Force Dance Studio
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="text-muted">Type</span>&#xA0;&#xA0;Open Class
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="text-muted">Capacity</span>&#xA0;&#xA0;20
                        </p>
                    </li>
                 </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <hr>
        <div class="padding-10">
        	<div class="">
                <ul class="nav nav-tabs" id="demo-pill-nav">
                    <li class="active">
                        <a href="#tab-r1" data-toggle="tab">Time In/Out</a>
                    </li>
                    <li>
                        <a href="#tab-r2" data-toggle="tab">Logs</a>
                    </li>
                </ul>
                <div class="tab-content padding-10">
                    <div class="tab-pane active" id="tab-r1">
                    	
                    	<table class="table">
                    		<tbody>
                    			<tr>
                    				<td class="text-muted">11:16 AM </td>
                    				<td><a>Danica Ocampo</a> left the class</td>
                    			</tr>
                    			<tr>
                    				<td class="text-muted">11:15 AM </td>
                    				<td><a>Chris Lee</a> left the class</td>
                    			</tr>
                    			<tr>
                    				<td class="text-muted">11:15 AM </td>
                    				<td><a>Allan Tan</a> left the class</td>
                    			</tr>
                    			<tr>
                    				<td class="text-muted">11:15 AM </td>
                    				<td><a>AJ Albaniel</a> left the class</td>
                    			</tr>
                    			<tr>
                    				<td class="text-muted">10:02 AM </td>
                    				<td><a>Danica Ocampo</a> attended the class</td>
                    			</tr>
                    			<tr>
                    				<td class="text-muted">10:02 AM </td>
                    				<td><a>Chris Lee</a> attended the class</td>
                    			</tr>
                    			<tr>
                    				<td class="text-muted">10:02 AM </td>
                    				<td><a>Allan Tan</a> attended the class</td>
                    			</tr>
                    			<tr>
                    				<td class="text-muted">10:02 AM </td>
                    				<td><a>AJ Albaniel</a> attended the class</td>
                    			</tr>
                    		</tbody>
                    	
                    	</table>
                    </div>
                    <div class="tab-pane" id="tab-r2">
                    	<table class="table">
                    		<tbody>
                    			<tr>
                    				<td class="text-muted">Aug 20, 2016 9:02 AM </td>
                    				<td><a>Danica Ocampo</a> enrolled in this class</td>
                    			</tr>
                    			<tr>
                    				<td class="text-muted">Aug 20, 2016 6:02 PM </td>
                    				<td><a>Chris Lee</a> enrolled in this class</td>
                    			</tr>
                    			<tr>
                    				<td class="text-muted">Aug 20, 2016 1:22 PM </td>
                    				<td><a>AJ Albaniel</a> enrolled in this class</td>
                    			</tr>
                    			<tr>
                    				<td class="text-muted">Aug 19, 2016 3:44 PM </td>
                    				<td><a>Allan Tan</a> enrolled in this class</td>
                    			</tr>
                    		</tbody>
                    	
                    	</table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end row -->
</div>
</div>
<div class="col-sm-12 col-md-12 col-lg-6">
   <h1>Students [4/20]
   
   	<button class="btn btn-success pull-right"
   		data-toggle="modal" data-target="#bookStudent" style="margin-left: 5px;">Book a Student</button>
    <button class="btn btn-success pull-right" data-toggle="modal" data-target="#bookGroup">Book a Group</button>
   </h1>
   
   
   <table class="table table-striped ">
   	<thead></thead>
   	<tbody>
   		<tr>
             <td><a data-ui-sref="app.student.profile" title="Profile">Allan Tan</a></td>
             <td>Male</td>
             <td>Pasig</td>
             <td>allan@ideyatech.com</td>
             <td>Paid</td>
             <td>
             	<i class="fa fa-trash-o"></i>
             </td>
         </tr>
         <tr>
             <td><a data-ui-sref="app.student.profile" title="Profile">AJ Albaniel</a></td>
             <td>Male</td>
             <td>Paranaque</td>
             <td>aj@ideyatech.com</td>
             <td>Paid</td>
             <td>
             	<i class="fa fa-trash-o"></i>
             </td>
         </tr>
         <tr>
             <td><a data-ui-sref="app.student.profile" title="Profile">Chris Lee</a></td>
             <td>Male</td>
             <td>Taguig</td>
             <td>chris@ideyatech.com</td>
             <td>Paid</td>
             <td>
             	<i class="fa fa-trash-o"></i>
             </td>
         </tr>
         <tr>
             <td><a data-ui-sref="app.student.profile" title="Profile">Danica Ocampo</a></td>
             <td>Female</td>
             <td>Quezon City</td>
             <td>danica@ideyatech.com</td>
             <td>Paid</td>
             <td>
             	<i class="fa fa-trash-o"></i>
             </td>
         </tr>
   </tbody>
   </table>
</div>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-sm-12">
	<button type="button" class="btn btn-primary pull-right">
    	Publish Class
    </button>
</div>
</div>
<!-- end row -->
</div>