<div id="content">
<div class="row">
    <big-breadcrumbs items="['Developer Console', 'Config']" icon="gear" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
</div>

	<ul class="nav nav-tabs">
	  <li role="presentation"><a data-ui-sref="app.systemSettings">{{getWord('System Settings')}}</a></li>
	  <li role="presentation"><a data-ui-sref="app.signInMethods">{{getWord('Sign-In Methods')}}</a></li>
	  <li role="presentation" class="active"><a data-ui-sref="app.emailTemplates">{{getWord('Email Templates')}}</a></li>
	</ul>
	
</div>
	